.list-plate-container {
  margin-left: 152px;
  margin-right: 152px;

  .dish-item {
    width: 234px;
    height: 234px;
    overflow: hidden;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;

    .date-tag {
      position: absolute;
      bottom: 0;
      left: 0;
      color: var(--light);
      background-color: var(--primary-300);
      font-size: 15px;
      font-weight: 400;
      padding: 7px 10px 7px 8px;
    }
  }

  .load-more {
    margin: 28px auto 64px;
  }
}