.hex-container {
  margin: 25px 160px;

  .hex-row {
    display: flex;
    justify-content: space-around;

    .hex-col {
      display: inline-flex;
      justify-content: center;
    }
  }

  .category-active {
    // border: 2px solid var(--primary-400);
    // border-radius: 50%;
  }

}
