.loadmore {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .content {
    padding: 50px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
  }

  .spinner {
    color: var(--primary-300);

    .ant-spin-dot-item {
      background-color: var(--primary-500);
    }
  }
}
