.left-banner {
  width: 540px;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light);

  .content {
    position: relative;
  }

  .date {
    font-size: 18px;
    font-weight: 400;
    margin-right: 8px;
  }

  .percent {
    font-size: 25px;
    font-weight: 400;
  }

  .circle {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 181px;
  }

  .content-wrapper {
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
  }
}