.sub-menu-container {
  position: absolute;
  top: 45px;
  right: 5px;
  background-color: var(--gray);
  color: var(--light);
  width: 280px;
  list-style-type: none;
  padding: 0px;
  z-index: 9999999;

  .sub-menu-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 32px;
    height: 72px;
    border-bottom: 1px solid var(--gray);
    font-size: 18px;

    &:hover {
      background-color: var(--dark);
    }
  }
}